*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#fff;
color:#333;
}

.container{
width:90%;
margin:auto;
}

/* NAVBAR */

.navbar{
background:#7430E8;
color:white;
padding:15px 0;
}

.navbar .container{
display:flex;
justify-content:space-between;
align-items:center;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}


/* HERO */

.hero{
padding:80px 0;
}

.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
gap:40px;
}

.hero h1{
font-size:48px;
color:#7430E8;
margin-bottom:20px;
}

.hero-buttons{
margin-top:20px;
}

.btn-primary{
background:#7430E8;
color:white;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
margin-right:10px;
}

.btn-secondary{
background:#E7B008;
color:black;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
}


/* STATS */

.stats{
background:#f5f5ff;
padding:60px 0;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.stat-card{
background:white;
padding:25px;
text-align:center;
border-radius:10px;
}


/* FEATURES */

.features{
padding:80px 0;
}

.section-title{
text-align:center;
font-size:32px;
margin-bottom:40px;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.feature-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.08);
}


/* CTA */

.cta{
background:#763FD8;
color:white;
text-align:center;
padding:70px 20px;
}


/* FOOTER */

.footer{
background:#111;
color:#ccc;
padding:40px 0;
}

.footer-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.copyright{
text-align:center;
margin-top:20px;
}


/* RESPONSIVE */

@media(max-width:900px){

.hero-grid{
grid-template-columns:1fr;
}

.stats-grid{
grid-template-columns:1fr 1fr;
}

.feature-grid{
grid-template-columns:1fr 1fr;
}

}

@media(max-width:600px){

.nav-links{
display:none;
}

.stats-grid{
grid-template-columns:1fr;
}

.feature-grid{
grid-template-columns:1fr;
}

}